# =========================================================
# Core data processing
# =========================================================
pandas==2.3.3
numpy==2.4.6


# =========================================================
# HTTP / API requests
# =========================================================
requests==2.34.2
urllib3==2.7.0


# =========================================================
# Machine Learning
# =========================================================
scikit-learn
xgboost
joblib


# =========================================================
# Deep Learning
# =========================================================
tensorflow


# =========================================================
# Explainability
# =========================================================
shap


# =========================================================
# Visualization / EDA
# =========================================================
matplotlib
seaborn


# =========================================================
# Hopsworks Feature Store / Model Registry
# =========================================================
hopsworks==5.0.6

# Hopsworks 5.0.6 requires protobuf 4.x
protobuf==4.25.9

# Required by Hopsworks data transfer / Feature Store
pyarrow==25.0.1

# Required during our Hopsworks Feature Store setup
deltalake